
.container{
    text-align:center;
}

.card-img{
    margin-top:10px;
    width: 8rem;
    height: 8rem;
}

.visualizar{
    width:30%;
}

.row{
    justify-content: center;
}

.imModal{
    width: 10rem;
    height: 20rem;
}

.colum{
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 05);
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.colum:hover{
    background:rgb(192, 214, 214);
    border: 1px solid rgb(15, 15, 15);
    transition: all 0.2s ease-out;
}